*{
    margin: 0;
    font-family: 'Arial', sans-serif;
}
.banner{
    min-height: 100vh;
    background-image: url(early-morning.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}
.navbar{
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
}
body {
    font-family:Arial;
}
form{
    transform: translate(100%,100%);
}
input[type='text'], input[type='email'] {
    border:1px solid green;
    width:100%;
    padding: 5px;
    border-radius: 20px;
}
label{
    font-weight: bold;
    color:green;
}
input[type='button'] {
    background-color:purple;
    border:none;
    border-radius:20px;
    padding:10px 20px;
    font-weight:bold;
    color:white;
}
input[type='button']:hover {
    background-color: gray;
}
.menu-icon {
    cursor:pointer;
}
.bar{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
.bar.middle {
    opacity: 1;
}
.navbar {
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position:absolute;
    top:0;
    left:0;
    z-index:4;
}
.menu-items {
    top: 60px;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: visibility 0s, opacity 0.5s, height 0.5s;
    z-index: 4;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
}
.menu-items.open {
    visibility: visible;
    opacity: 1;
    height: auto;
}
.menu-items a {
    color: white;
    text-decoration: none;
    margin: 15px 0;
    font-size: 35px;

}