*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}
body {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow:hidden;
    margin:0;
    font-family: 'Arial', sans-serif;
    height:100vh;
}
#myCanvas {
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
#clock{
    background:black;
    color:white;
    position: absolute;
    font-size:30px;
    border-radius:8px;
    text-shadow:2px 2px 5px black;
    margin:20px;
    padding:10px;
}
.overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
    z-index:1;
    pointer-events: none;
}
.overlay.open{
    opacity:1;
    visibility: visible;
    pointer-events: auto;
}
.navbar {
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}
.menu-icon{
    cursor:pointer;
    display:flex;
    flex-direction:column;
}
.bar{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
    opacity: 1;
    animation: barAnimation 0.8s ease-in-out;
}
@keyframes barAnimation{
    0% {
        transform:scaleX(0);
    }
    100% {
        transform:scaleX(1);
    }
}
.menu-items {
    display: flex;
    flex-direction: column;
    position:fixed;
    top:60px;
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: visibility 0s, opacity 0.5s height 0.5s;
    background:rgba(0,0,0,0.9);
    padding:10px;
    z-index:11;
}
.menu-items.open {
    visibility: visible;
    opacity: 1;
    height: auto;
    background:#000;
}
.menu-items a{
    text-decoration: none;
    margin: 2px 0;
    font-size: 30px;
    color:white;
    padding:10px;
}
.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:#fff;
}
h1{
    font-size:48px;
    flex-direction:column;
    align-items:center;
    gap:20px;
}
.button-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    margin-top: 20px;
}
button{
    width:200px;
    padding: 15px 0;
    text-align:center;
    margin: 15px 0;
    border-radius: 25px;
    font-weight:bold;
    border:2px solid #009688;
    background: transparent;
    color:#fff;
    cursor:pointer;
    overflow: hidden;
    position: relative;
}
span{
    background: #009688;
    height:100%;
    width:0;
    border-radius:25px;
    position:absolute;
    left:0;
    bottom:0;
    z-index:-1;
    transition:0.5s;
}
button:hover span {
    width: 100%;
}
button:hover {
    border:none;
}