*{
    margin: 0;
    font-family: 'Arial', sans-serif;
    box-sizing:border-box;
}
body {
    min-height: 100vh;
    background-image: url(early-morning.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 15;
    background-repeat:no-repeat;
}
#clock{
    background:black;
    color:white;
    position: absolute;
    top:10px;
    left:45%;
    font-size:30px;
    border-radius:8px;
    text-shadow:2px 2px 5px black;
}
.banner{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    position:absolute;
    z-index: 1;
}
.banner::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:9;
    pointer-events:none;
}
.overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
    z-index:1;
    pointer-events: none;
}
.overlay.open{
    opacity:1;
    visibility: visible;
    pointer-events: auto;
}
.navbar {
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top:0;
    left:0;
    z-index: 20;
}
.menu-icon{
    cursor:pointer;
}
.bar{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px;
    transition: 0.4s;
    opacity: 1;
    animation: barAnimation 0.8s ease-in-out;
}
@keyframes barAnimation{
    0% {
        transform:scaleX(0);
    }
    100% {
        transform:scaleX(1);
    }
}
.menu-items {
    display: flex;
    flex-direction: column;
    position:fixed;
    top:60px;
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: visibility 0s, opacity 0.5s height 0.5s;
    background:rgba(0,0,0,0.9);
    padding:10px;
    z-index:11;
}
.menu-items.open {
    visibility: visible;
    opacity: 1;
    height: auto;
    background:#000;
}
.menu-items a{
    text-decoration: none;
    margin: 2px 0;
    font-size: 30px;
    color:white;
    padding:10px;
}
.content{
    width: 100%;
    position: absolute;
    top:50%;
    transform: translateY (-50%);
    text-align:center;
    color:#fff;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width:200px;
    padding: 15px 0;
    text-align:center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight:bold;
    border:2px solid #009688;
    background:transparent;
    color:#fff;
    cursor:pointer;
    position:relative;
    overflow: hidden;
}
span{
    background: #009688;
    height:100%;
    width:0;
    border-radius:25px;
    position:absolute;
    left:0;
    bottom:0;
    z-index:-1;
    transition:0.5s;
}
button:hover span {
    width: 100%;
    color:red;
}
button:hover {
    border:none;
}